<div class="container">
  <div class="row bg-light shadow p-3 mb-5 bg-white rounded">
    <div class="col-12 my-4">
      <div class="text-center text-md-start">
        <h1 class="fw-semibold text-primary">Departamentos</h1>
      </div>
      <div class="d-flex justify-content-between">
        <a
          role="button"
          class="btn btn-outline-primary col-md-2"
          routerLink="/painel">
          <i class="pi pi-sign-out me-2"></i>Voltar
        </a>
        <button
          type="button"
          class="btn btn-primary md-md-1 col-md-2">
          <i class="pi pi-user-plus me-2"></i>Novo
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-light table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</div>