<div class="container">
  <div class="row bg-light shadow p-3 mb-5 bg-white rounded">
    <div class="col-12 my-4">
      <div class="text-center text-md-start">
        <h1 class="fw-semibold text-primary">Departamentos</h1>
      </div>
      <div class="d-flex justify-content-between">
        <a
          role="button"
          class="btn btn-outline-primary col-md-2"
          routerLink="/painel">
          <i class="pi pi-sign-out me-2 rotated-180"></i>Voltar
        </a>
        <button
          (click)="gravar(modal)"
          type="button"
          class="btn btn-primary md-md-1 col-md-2">
          <i class="pi pi-user-plus me-2"></i>Novo
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-light table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="w-50">Nome</th>
            <th class="w-25">Telefone</th>
            <th class="w-25">Ações</th>
          </tr>
        </thead>
        <tbody class="">
          <tr *ngFor="let departamento of (departamentos$ | async)">
            <td>{{departamento.nome}}</td>
            <td>{{departamento.telefone}}</td>
            <td class="d-flex gap-2">
              <button
                (click)="gravar(modal, departamento)" 
                type="button"
                class="btn btn-success" 
                title="Editar">
                <i class="pi pi-pencil"></i>
              </button>
              <button 
              (click)="excluir(departamento)"
                type="button"
                class="btn btn-danger" 
                title="Excluir">
                <i class="pi pi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{tituloModal}} de departamento</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
  </div>
  <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">
  <div class="modal-body">
      <div class="form-group row">
        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
          <input 
          tabindex="1" 
          formControlName="nome"
          type="text" 
          class="form-control" 
          placeholder="Digite o nome do departamento">
        </div>
      </div>
      <div class="form-group row">
        <label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
        <div class="col-sm-10">
          <input 
          mask="(00) 0000-0000||(00) 0 0000-0000"
          tabindex="2" 
          formControlName="telefone"
          type="text" 
          class="form-control" 
          placeholder="Digite o telefone do departamento"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark col-md-3" (click)="modal.dismiss('fechar')">Cancelar</button>
      <button type="submit" class="btn btn-primary col-md-3">Gravar</button>
    </div>
  </form>
</ng-template>