<div class="container">
  <div class="row bg-light shadow p-3 mb-5 bg-white rounded">
    <div class="col-12 my-4">
      <div class="text-center text-md-start">
        <h1 class="fw-semibold text-primary">Requisicoes</h1>
        <h6 *ngIf="departamentoNome" class="pb-3 pt-1">Departamento: <span class="bg-primary text-white py-1 px-2 rounded">{{departamentoNome}}</span></h6>
      </div>
      <div class="d-flex justify-content-between">
        <a
          role="button"
          class="btn btn-outline-primary col-md-2"
          routerLink="/painel">
          <i class="pi pi-sign-out me-2 rotated-180"></i>Voltar
        </a>
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-light table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="">Data abertura</th>
            <th class="">Última Atualização</th>
            <th class="">Descrição</th>
            <th class="">Departamento</th>
            <th class="">Status</th>
            <th class="">Ultima Atualização</th>
            <th class="">Ações</th>
          </tr>
        </thead>
        <tbody class="">
          <tr *ngFor="let requisicao of (requisicoes$ | async)">
          <!-- <tr *ngFor="let requisicao of (requisicoes$ | async | requisicoesDepartamento: funcionarioLogado.id)"> -->
            <td>{{ requisicao.dataAbertura.toDate() | date:'dd/MM/yyyy hh:mm'}}</td>
            <td>Ultima movimentação</td>
            <td>{{ requisicao.descricao }}</td>
            <td>{{ requisicao.departamento ? requisicao.departamento.nome : "Não encontrado" }}</td>
            <td>{{ requisicao.status }}</td>
            <td>{{ requisicao.ultimaAtualizacao.toDate() | date:'dd/MM/yyyy hh:mm' }}</td>            
            <td class="d-flex gap-2">
              <button
                (click)="gravar(modal, requisicao)"
                type="button"
                class="btn btn-primary" 
                title="Editar">
                <i class="pi pi-check-square"></i>
              </button>
              <button 
                [routerLink]="['/requisicoes', requisicao.id]"
                type="button"
                class="btn btn-outline-primary" 
                title="Excluir">
                <i class="pi pi-tags"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Requisição status</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
  </div>
  <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">
    <div class="modal-body">
      <div class="mb-3 form-group row position-relative">
        <label for="departamentoId" class="col-sm-3 col-form-label">Departamentos</label>
        <div class="col-sm-9">
          <input 
            disabled
            tabindex="2" 
            type="text" 
            class="form-control"
            value={{departamentoNome}}>
        </div>
      </div>
      <div class="mb-3 form-group row position-relative">
        <label for="numeroSerie" class="col-sm-3 col-form-label">Descrição solicitante</label>
          <div class="col-sm-9">
            <input 
            disabled
            tabindex="2" 
            type="text" 
            class="form-control"
            value={{requisicaoEditada.descricao}}>
          </div>
      </div>
      <div class="mb-3 form-group row position-relative">
        <label for="mensagem" class="col-sm-3 col-form-label">Descrição responsável</label>
          <div class="col-sm-9">
            <input 
            tabindex="2" 
            formControlName="mensagem"
            type="text" 
            class="form-control">
          </div>
      </div>
      <div class="mb-3 form-group row position-relative">
        <label for="status" class="col-sm-3 col-form-label">Status</label>
        <div class="col-sm-9">
          <div class="col-sm-6">
            <ng-select formControlName="status" [clearable]="false" [searchable]="false">
              <ng-option 
                *ngFor="let statusRequisicao of (statusListagem)" 
                [value]="statusRequisicao">
                {{statusRequisicao}}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark col-md-3" (click)="modal.dismiss('fechar')">Cancelar</button>
      <button type="submit" class="btn btn-primary col-md-3" [disabled]="this.form.invalid">Gravar</button>
    </div>
  </form>
</ng-template>