:root{
  --bg-primary: #054ebb;
}
.bg-light{
  background-color: #fff!important;
}
.links{
  font-size: 17px;
}
.nav-link{
  cursor: pointer;
}
.nav-link:hover{
  color: var(--bg-primary)!important;
}
.swal2-confirm{
  background-color: var(--bg-primary)!important;
}